<!--
  String Interpolation: {{ newPost1 }}
  Property Binding: [value]="enteredValue1"
  Event Binding: (click)
  Two Way Binding: [(ngModel)]
-->

<!--
  Form explanation: https://www.udemy.com/course/angular-2-and-nodejs-the-practical-guide/learn/lecture/10416268#overview
-->
<mat-card>
  <!-- FORM: #postForm="ngForm" gives access to the entire form -->
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-card-header>
      <mat-card-title>POST</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- 01 -->
      <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input
          title="This is a title"
          matInput
          type="text"
          name="title"
          ngModel
          required
          minlength="3"
          #title="ngModel"
        />
        <!-- Error Message (there is two ways of doing this) -->
        <!-- THIS ONE: This "title" belongs to #title -->
        <mat-error *ngIf="title">Please, enter a post title.</mat-error>
        <!-- OR THIS ONE:
        <mat-error *ngIf="postForm.getControl('title').invalid">Please, enter a post title.</mat-error>
        -->
      </mat-form-field>
      <!-- 02 -->
      <mat-form-field>
        <mat-label for="content">Content</mat-label>
        <textarea
          name="content"
          matInput
          rows="1"
          aria-label="textarea"
          ngModel
          required
          #content="ngModel"
        ></textarea>
        <!-- Error Message -->
        <mat-error *ngIf="content">Please, enter a post content.</mat-error>
      </mat-form-field>
      <hr class="transparent" />
      <!-- BUTTON -->
      <button type="submit" mat-raised-button color="accent">Save Post</button>
    </mat-card-content>
  </form>
</mat-card>
<br />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Latest Post</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="post !== undefined"
    >Title: {{ post.title }}<br />Content: {{ post.content }}</mat-card-content
  >
  <mat-card-content *ngIf="post === undefined"
    ><i>No content yet.</i></mat-card-content
  >
</mat-card>
