<!--
  String Interpolation: {{ newPost1 }}
  Property Binding: [value]="enteredValue1"
  Event Binding: (click)
  Two Way Binding: [(ngModel)]
-->
<mat-card>
  <mat-card-header>
    <mat-card-title>Content:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <textarea
        matInput
        rows="2"
        aria-label="textarea"
        [value]="enteredValue1"
        #postInput
      ></textarea>
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="onAddPost1(postInput)">
      Save Content
    </button>
  </mat-card-content>
</mat-card>
<br />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Latest Answer:</mat-card-title>
  </mat-card-header>
  <mat-card-content>{{ newPost1 }}</mat-card-content>
</mat-card>
<br />

<!--
<hr />
<mat-card>
  <mat-card-header>
    <mat-card-title>Content:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <textarea
        matInput
        rows="2"
        aria-label="textarea"
        [value]="enteredValue2"
        #postInput
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onAddPost2()">
      Save Content 2
    </button>
  </mat-card-content>
</mat-card>
<br />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Answer 2:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ newPost2 }}
  </mat-card-content>
</mat-card>
<hr />
 -->