<!--
  String Interpolation: {{ newPost1 }}
  Property Binding: [value]="enteredValue1"
  Event Binding: (click)
  Two Way Binding: [(ngModel)]
-->
<mat-card>
  <mat-card-header>
    <mat-card-title>POST</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- 01 -->
    <mat-form-field>
      <mat-label for="title">Title</mat-label>
      <input
        title="This is a title"
        matInput
        id="title"
        name="title"
        type="text"
        [(ngModel)]="enteredTitle"
      />
    </mat-form-field>
    <!-- 02 -->
    <mat-form-field>
      <mat-label for="content">Content</mat-label>
      <textarea
        id="content"
        name="content"
        matInput
        rows="2"
        aria-label="textarea"
        [(ngModel)]="enteredContent"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onAddPost()">
      Save Post
    </button>
  </mat-card-content>
</mat-card>
<br />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Latest Answer:</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="post !== undefined"
    >{{ post.title }} AND {{ post.content }}</mat-card-content
  >
  <mat-card-content *ngIf="post === undefined"
    ><i>No content yet.</i></mat-card-content
  >
</mat-card>
<br />

<!--
<hr />
<mat-card>
  <mat-card-header>
    <mat-card-title>Content:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <textarea
        matInput
        rows="2"
        aria-label="textarea"
        [value]="enteredValue2"
        #postInput
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="onAddPost2()">
      Save Content 2
    </button>
  </mat-card-content>
</mat-card>
<br />
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Answer 2:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ newPost2 }}
  </mat-card-content>
</mat-card>
<hr />
 -->
