<mat-accordion *ngIf="posts.length > 0">
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
    *ngFor="let post of posts"
  >
    <!-- 1 -->
    <mat-expansion-panel-header>
      <mat-panel-title>
        <b>{{ post.title | uppercase }}</b>
      </mat-panel-title>
      <mat-panel-description>
        Currently: {{ panelOpenState() ? "Open" : "Closed" }} (id: {{ post.id }})
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- 2 -->
    <p>{{ post.content }}</p>

    <!-- BUTTONS -->
    <mat-action-row>
      <a mat-button color="accent" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="mat-body-1 info-text" *ngIf="posts.length <= 0">
  No Posts Added Yet!
</p>
